
body, #root {
 
  width: 100%;
  height: auto;
  margin: 0%;

  /* All things centered and placed along vertical axis */
  display: flex;
  flex-direction: column;
  align-items: center;

  /* Just for mockup */
  text-align: center;
  
}
