#Intro {
  position: relative;
  top: -7vh;
  flex-direction: column;
  justify-content: space-around;
  
}

#Intro-scroll-anchor {
  height: 1vh;
  margin-bottom: 5vh;
}

#intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 20%;
  word-wrap: break-word;
}

#intro-pic {
  width: 35%;
  max-width: 200px;
  border: rgba(202, 166, 34, 0.8) 8px solid;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

#intro-name,
#intro-desc {
  font-size: 1.8em;
  margin: 0;
}
#intro-subdesc {
  margin: 2vh;
  font-size: 0.9em;
}

.intro-paragraph {
  max-width: 530px;
  margin-top: 1vh;
  margin-bottom: 0.5vh;
}

#social-links {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 3vh;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.social-links-row {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 1000px;
}

.icon-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 10%;
  color: white;
  text-decoration: none;
}

.icon {
  width: 100%;
  max-width: 50px;
}

