#Nav {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100%;
  top: 0%;
  z-index: 1;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
  background-color: white;

  /* Just for mockup */
}
#logo {
  width: 25%;
  height: 100%;

}
#nav-link-container {
  display: flex;
  justify-content: space-between;
  width: 60%;
  max-width: 400px;
  margin-right: 5%;
}
.nav-link {
}
