#Projects {
    flex-direction: column;
    height: auto;
    width: 100vw;
    padding-top: 30px;
    padding-bottom: 20vh;
    overflow: hidden;
}

#Projects-scroll-anchor {
    height: 3vh;
}

#Projects-body {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    top: 3vh;
}

.project-category {
    margin: 10px 0px 1vw 0px;
    font-size: calc(2.5vh + 2.2vw);
}

.project-gitlink,
.project-link {
    position: relative;
    color: white;
    font-size: 1em;
    text-decoration: none;
    margin: 0;
    top: -15px;
    background: rgba(0, 0, 0, 0.144);
    width: 50%;
    border: 2px solid black;
    border-radius: 5%;
}

.project-link {
    top: -5px;
}

.project-gitlink:hover,
.project-link:hover {
    background: rgba(131, 131, 131, 0.151);
}

#downArrow3,
#downArrow4,
#downArrow5,
#downArrow6 {
    position: relative;
    margin: 10px 0 30px 0;
}