#Resume {
    position: relative;
    flex-direction: column;
    justify-content: center;
    max-height: 80vh;
}

#Resume-scroll-anchor {
    margin-bottom: 30vh;
}

#thanks {
    font-size: 1.2em;
    margin-bottom: 10vh;
}

#resume-link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: white;
}