#Resume {
  position: relative;
  top: 10vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  max-height: 80vh;
}

#thanks {
    margin-top: 20vh;
  font-size: 1.2em;
}

#resume-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  color: white;
}
