.aos-init {}

.carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: visible !important;
    max-width: calc(40vh + 5vw);
    min-height: 55vh;
}

.carousel-slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: visible !important;
    height: auto;
}

.slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
    border: 10px solid rgba(0, 0, 0, 0.205);
    background-color: transparent !important;
    -webkit-animation: fade-out 1s ease-out both;
    animation: fade-out 1s ease-out both;
    box-shadow: 0px 0px 60px 35px rgba(0, 0, 0, 0.2);
    z-index: 2;
    opacity: 0.05;
}

.slide img {
    margin: 20px 0px 0px 0px;
    max-width: 150px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
    min-height: 400px;
    max-height: 700px;
}

#AboutMe .slide img {
    max-width: 90%;
}

.slide-title {
    font-size: calc(2vw + 1.5vh);
    padding-bottom: 5px;
    margin: 5px 10px 10px 5px;
}

.slide-text {
    min-height: 30px;
    width: 90%;
    font-size: calc(1.5vh + 0.2vw);
    margin: 5px 5px 20px 5px;
}

.selected {
    box-shadow: 0px 0px 60px 35px rgba(0, 0, 0, 0.2);
    animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    z-index: 3;
}

.slider-wrapper {
    overflow: visible !important;
    margin: 0 !important;
}

.control-prev {
    position: relative;
    height: 10%;
    top: 45% !important;
    left: -10% !important;
    background-color: rgba(95, 143, 128, 0.25) !important;
}

.control-next {
    float: left;
    height: 10%;
    top: 45% !important;
    right: -10% !important;
    background-color: rgba(95, 143, 128, 0.25) !important;
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0.05;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0.05;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.05;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.05;
    }
}